li{
  list-style: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
  display: inline;
}
ul{
  display: flex;
  justify-content: center;
  margin-top: 20px;
} 
body{
  background: gray;
  color: #11618F;
}
.butoon{
  padding: 8px;
}
h1{
  margin-top: 250px;
}